<form class="form-inline-date">
  <div class="form-group-date">
    <div class="input-date">
      <input class="form-control-date" placeholder="yyyy-mm-dd" [ngStyle]="{'display' :btnshow==='true' ? 'none':'block'}"
             name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" (dateSelect)="onDateSelected()">
      <div class="input-group-append">
        <button class="btn-date btn-outline-secondary-date" (click)="d.toggle()">
          <i class="zmdi zmdi-calendar" ></i>
        </button>
      </div>
    </div>
  </div>
</form>